body {
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#fcfff4,#e9e9ce);
  font-family: 'Acme', sans-serif;
}
.title{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color:white;
  padding:20px;
  font-weight:bold;
  font-size: 40px;
}
.header {
  background-color: black;
  margin:0;
}
.header li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color:white;
  padding:20px;
  font-weight:bold;
  font-size: 24px;
}
.submit-button{
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right:auto;
  top:-5px;
}
.query-input{
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right:auto;
  top:-5px;
  outline: none;
  border: none;
  margin-right: 10px;
}
.main-icon{
  height:50px;
  position: relative;
  left: auto;
  top: 10px;
}
.map{
  height: 90vh;
  margin: 0;
}
.marker{
  position: absolute;
}
.markerIcon{
  height: 42px;
  cursor: pointer;
  transform: translate(-21px, -42px);
}
.infobox{
  background-color: white;
  height: 24px;
  position: relative;
  top: -50px;
  right: 40px;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.none{
  display: none;
}
.active{
  height:70px;
}

@keyframes example {
  0% {color: white;}
  20% {color: red;}
  40% {color: yellow;}
  60% {color: blue;}
  80% {color: green;}
  100% {color: purple;}
}


