html {
  height: 100%;;
}
body {
  height:100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#fcfff4,#e9e9ce);
}
.container{
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 100fr, 300fr;
  grid-template-areas:
    "Header"
    "Content";
}
.Place {
  font-family: 'Acme', sans-serif;
}
h1,h2,h3,input,button, ul, li, p {
  font-family: 'Acme', sans-serif;
}
ul.header li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color:white;
  padding:20px;
  font-weight:bold;
  font-size: 40px;
}
ul.header li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
  overflow:hidden;
  display:none;
}
ul.header button{
  background-color: cornflowerblue;
  border-color: white;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right:auto;
  top:-5px;
}
ul.header input{
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right:auto;
  top:-5px;
}
ul.header {
  background-color: black;
  margin:0;
}
ul.header .icon{
  display:none;
  color:white;
}
ul.header img{
  height:50px;
  position: relative;
  left: auto;
  top: 10px;
  transition: height 0.2s
}
ul.header img:hover{
  cursor: pointer;
  height:60px;
}
ul.header li a:hover{
  background-color: gray;
  color:black;
}
#map {
  height: 90vh;
  margin: 0;
}
.active{
  height:70px;
}

@keyframes example {
  0% {color: white;}
  20% {color: red;}
  40% {color: yellow;}
  60% {color: blue;}
  80% {color: green;}
  100% {color: purple;}
}


